<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="row" style="margin: 1rem">
        <div class="col-12">
          <button class="btn btn-header border-primary" (click)="navigateCadastro()"><a>Incluir Pipeline</a></button>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-content">
                <div class="card-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Data de Inclusao</th>
                      <th>Vigência</th>
                      <th>Proponente</th>
                      <th>Produto</th>
                      <th>Descrição</th>
                      <th>Corretora</th>
                      <th>Seguradora</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let oportunidade of oportunidade" style="cursor: pointer" (click)="saveOportunidade(oportunidade)">
                      <td>{{oportunidade.inclusionDate}}</td>
                      <td>{{oportunidade.vigencia}}</td>
                      <td>{{oportunidade.proponente}}</td>
                      <td>{{oportunidade.product.name}}</td>
                      <td>{{oportunidade.description}}</td>
                      <td>{{oportunidade.corretora.name}}</td>
                      <td>{{oportunidade.seguradora.name}}</td>
                      <td>{{oportunidade.status}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
