<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="col-sm-12">
        <div class="card" style="padding-bottom: 1rem; border-radius: 10px">
          <div class="card-content" style="display: flex; justify-content: center; align-items: center">
            <div class="row">
              <div class="col-sm-4">
                <button class="btn-header btn" (click)="navigateDiario()"><a>diario</a></button>
              </div>
              <div class="col-sm-4">
                <button class="btn-header btn" (click)="navigateMensal()"><a>mensal</a></button>
              </div>
              <div class="col-sm-4">
                <button class="btn-header btn"><a>anual</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
