

        <div class="apex-content content container-fluid">
          <div class="content-wrapper">
            <div class="content-header row">

            </div>
            <div class="content-body">
              <section id="filter">
                <div class="row text-left">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">built-in column filter types</h4>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <div class="table-responsive">
                            <ng2-smart-table (delete)="log()" [settings]="alertsettings" [source]="alertSource" (deleteConfirm)="log($event) "
                                             (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
