<form class="form" [formGroup]="corretora" role="form" class="login-form" (ngSubmit)="onFinish()">
<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-2">
            <h4 class="card-title" id="basic-layout-colored-form-control">Cadastro de Corretora</h4>
            <p class="mb-0">
            </p>
          </div>
          <div class="card-content">
            <div class="px-3">

                <div class="form-body">
                  <h4 class="form-section"><i class="ft-info"></i>Informações da Corretora</h4>
                  <div class="row">
                    <div class="col-md-4 col-sm-12"></div>
                    <div class="col-md-4 col-sm-12"></div>
                    <div class="col-md-4 col-sm-12"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div class="form-group">
                        <label for="userinput1">Nome da Corretora *</label>
                        <input type="text" id="userinput1" class="form-control border-primary" formControlName="name">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <div class="form-group">
                        <label for="userinput2">CNPJ</label>
                        <input type="text" id="userinput2" class="form-control border-primary" formControlName="cnpj">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <div class="form-group">
                        <label for="InscricaoEstadual">Inscrição Estadual</label>
                        <input type="text" id="InscricaoEstadual" class="form-control border-primary" formControlName="InscricaoEstadual">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="userinput3">Email</label>
                        <input type="email" id="userinput3" class="form-control border-primary" formControlName="email">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="userinput4">Telefone</label>
                        <input type="text" id="userinput4" class="form-control border-primary" formControlName="telephone">
                      </div>
                    </div>
                  </div>

                  <h4 class="form-section"><i class="ft-mail"></i> Endereço </h4>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="userinput9">UF</label>
                        <input type="text" id="userinput9" class="form-control border-primary" #uf [ngbTypeahead]="searchEstado" (change)="SelectCidade(uf.value)" formControlName="estate">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="userinput10">Cidade</label>
                        <input type="text" id="userinput10" class="form-control border-primary" [ngbTypeahead]="searchCidade" formControlName="city">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="userinput5">Rua</label>
                        <input class="form-control border-primary" type="text" id="userinput5" formControlName="street">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="cep">CEP</label>
                        <input class="form-control border-primary" type="text" id="cep" formControlName="cep">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="userinput8">Bairro</label>
                        <input type="text" id="userinput8" class="form-control border-primary" formControlName="neighborhood">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="userinput6">Número</label>
                        <input type="email" id="userinput6" class="form-control border-primary" formControlName="number">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="userinput7">Complemento</label>
                        <input type="text" id="userinput7" class="form-control border-primary" formControlName="complement">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="nickname">Apelidos</label>
                        <input type="text" id="nickname" class="form-control border-primary" formControlName="nicknames">
                      </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 12px">
                      <button class="btn btn-header btn-raised" type="button" (click)="adicionarApelido()"><a>Adicionar</a></button>
                    </div>
                  </div>


                  <div class="row" *ngIf="apelidos.length > 0">
                    <div class="col">
                      <section id="apelidos-table">
                        <div class="row text-left">
                          <div class="col-sm-12">
                            <div class="card">
                              <div class="card-content">
                                <div class="card-body">
                                  <table class="table">
                                    <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Apelido</th>
                                      <th>Remover</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let apelido of apelidos; let i = index">
                                      <th>{{i+1}}</th>
                                      <td>{{apelido}}</td>
                                      <td><i class="icon-trash text-danger" style="cursor: pointer" (click)="removeApelido(apelido)"></i></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>


                  <div class="card" *ngIf="isEdit">
                    <div class="card-header">
                      <div class="row">
                        <button type="button" (click)="openColaborador()" class="btn" style="background-color: white; border: 1px solid #1a2a6c; margin-bottom: 1rem; margin-left: 2rem; color: #1a2a6c; font-size: 1.1rem"><i style="color: #1a2a6c; margin-right: 8px" class="ft-user-plus"></i>Adicionar Novo Colaborador</button>
                      </div>
                    </div>
                    <div class="card-content" >
                      <div class="row" *ngIf="checkColaborador" style="width: 98%; margin: auto">
                        <div class="col-md-12" style="margin: auto; width: 98%">
                          <form class="form" [formGroup]="colaborador" role="form" class="login-form" (ngSubmit)="onFinish()">
                            <div class="form-body">
                              <h4 class="form-section"><i class="ft-info"></i> Sobre o Colaborador</h4>
                              <div class="row">
                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-4 col-sm-12"></div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="name">Nome Completo Colaborador</label>
                                    <input type="text" id="name" class="form-control border-primary" formControlName="name">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="telephone">Telefone</label>
                                    <input type="text" id="telephone" class="form-control border-primary" formControlName="telephone">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control border-primary" formControlName="email">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="birthday">Aniversário</label>
                                    <div class="position-relative has-icon-left">
                                      <input type="date" id="birthday" class="form-control border-primary" formControlName="birthday">
                                      <div class="form-control-position">
                                        <i class="ft-message-square"></i>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="job">Cargo</label>
                                <input class="form-control border-primary" type="text" id="job" formControlName="job">
                              </div>

                            </div>

                            <div class="form-actions right">
                              <button (click)="submitNewColaborador()" type="button" class="btn btn-raised  btn-header">
                                <i class="fa fa-check-square-o"></i> <a>Adicionar</a>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <section id="nice-table">
                            <div class="row text-left">
                              <div class="col-sm-12">
                                <div class="card">
                                  <div class="card-content">
                                    <div class="card-body">
                                      <table class="table">
                                        <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Nome</th>
                                          <th>Email</th>
                                          <th>Telefone</th>
                                          <th>Aniversario</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let colaboradores of colaboradores; let i = index">
                                          <th>{{i+1}}</th>
                                          <td>{{colaboradores.name}}</td>
                                          <td>{{colaboradores.email}}</td>
                                          <td>{{colaboradores.telephone}}</td>
                                          <td>{{colaboradores.birthday}}</td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row">
                    <div class="col-xl-3 col-lg-3 col-6" *ngFor="let seguradora of selectableSeguradoras">
                    &lt;!&ndash; TODO:CHANGE&ndash;&gt;  <app-seguradora-card-partial [seguradora]="seguradora" [nome]="seguradora.name"></app-seguradora-card-partial>
                    </div>
                  </div>-->
                </div><!--FORM-BODY-->

                <div class="row">
                  <div class="col-sm-12 col-md-4">
                    <fieldset class="form-group">
                      <label for="seguradora">Seguradora</label>
                      <select #seguradoraSelect class="form-control border-primary" id="seguradora">
                        <option [value]="seguradora._id" *ngFor="let seguradora of selectableSeguradoras">{{seguradora.name}}</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-sm-12 col-md-2" style="margin-top: 12px">
                    <div class="form-group"><button type="button" (click)="addSeguradora(seguradoraSelect.value)" class="btn btn-header border-primary"><a>adicioanar</a></button></div>
                  </div>
                </div>

                <div class="row" *ngIf="(seguradorasTable.length > 0)">
                  <div class="col">
                    <section id="simple-table">
                      <div class="row text-left">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <table class="table table-hover">
                                  <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>Email</th>
                                    <th>Remover</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let seguradora of seguradorasTable; let i = index">
                                    <th>{{i+1}}</th>
                                    <td>{{seguradora.name}}</td>
                                    <td>{{seguradora.telephone}}</td>
                                    <td>{{seguradora.email}}</td>
                                    <td style= "cursor: pointer" (click)="removeSeguradora(seguradora)"><i class="icon-trash text-danger text-bold-700"></i></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
            </div>
          </div>
        </div><!--CARD-->

        <app-colaborador-page></app-colaborador-page>
        <div class="card">
          <div class="card-content">
            <div class="col">
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <label for="upload">Upload de Arquivos</label>
                    <div class="custom-file  mx-auto d-block ">
                      <input  (change)="upload($event)" type="file" class="custom-file-input" id="upload">
                      <label class="custom-file-label" for="upload">Escolha um arquivo</label>
                    </div>
                  </fieldset>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <section id="simple">
                    <div class="row text-left">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-header">
                            <h4>Arquivos a serem carregados</h4>
                          </div>
                          <div class="card-content">
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Nome</th>
                                  <th>Remover</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let file of filesToUpload; let i = index">
                                  <th>{{i+1}}</th>
                                  <td>{{file.name}}</td>
                                  <td style="cursor: pointer" (click)="removeFile(file)"><i class="icon-trash text-danger text-bold-700"></i></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6" *ngIf="Files.length > 0">
                        <div class="card">
                          <div class="card-header">
                            <h4>Arquivos no Servidor</h4>
                          </div>
                          <div class="card-content">
                            <div class="card-body">
                              <table class="table">
                                <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Nome</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let file of Files; let i = index">
                                  <th>{{i+1}}</th>
                                  <td>{{file.nome}}</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header">

          </div>
          <div class="card-content">
            <div class="float-right">
              <button (click)="navigateCorretora()" type="button" class="btn btn-raised  mr-1 btn-header-cancel">
                <a>Voltar</a>
              </button>
              <button  type="submit" class="btn btn-raised  btn-header">
                <a>Salvar</a>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</form>
