<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" style="margin-left: 2rem">
    <img style="margin-top: -6px" src="../../assets/logo.png" width="35" height="40" class="d-inline-block align-top" alt="">
    <a style="text-align: center"> BR Infinite</a>
  </a>
  <div>

    <button *ngIf="!service.getIsAuth()"  (click)="navigateLogin()" class="btn btn-primary btn-header"><a>login</a></button>
    <button *ngIf="service.getIsAuth()"  (click)="navigateHome()" class="btn btn-primary btn-header"><a>Home</a></button>
    <button *ngIf="service.getIsAuth()"  (click)="navigateCorretora()" class="btn btn-primary btn-header"><a>Corretoras</a></button>
    <button *ngIf="service.getIsAuth()"  (click)="navigateSeguradora()" class="btn btn-primary btn-header"><a>Seguradoras</a></button>
    <button *ngIf="service.getIsAuth()"  (click)="navigateSeguradora()" class="btn btn-primary btn-header"><a>Produtos</a></button>
    <button *ngIf="service.getIsAuth()"  (click)="navigatePipeline()" class="btn btn-primary btn-header"><a>Pipeline</a></button>
    <button *ngIf="service.getIsAuth()"  (click)="navigateProducao()" class="btn btn-primary btn-header"><a>Produção</a></button>

  </div>
</nav>
