<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="row" style="margin-top: 1rem">
        <div class="col-sm-3" style="margin: auto">
          <img src="../../../../assets/logo.png" style="width: 100%; height: auto">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div  class="card" style="padding: 1rem; max-height: 500px; overflow: hidden">
            <div class="row">
              <div class="col-sm-12">
                <h4>Aniversariantes do mês</h4>
              </div>
            </div>
            <div class="row">
             <div class="col-sm-12">
               <div class="form-group">
                 <label for="issueinput7">Selecione o Mês</label>
                 <select  id="issueinput7"  class="form-control border-primary" data-toggle="tooltip" data-trigger="hover"
                          data-placement="top" data-title="Priority" (change)="selectNewMonth()" [(ngModel)]="mesSelected" [ngModelOptions]="{standAlone: true}">
                   <option value="1" >Janeiro</option>
                   <option value="2" >Fevereiro</option>
                   <option value="3" >Março</option>
                   <option value="4" >Abril</option>
                   <option value="5" >Maio</option>
                   <option value="6" >Junho</option>
                   <option value="7" >Julho</option>
                   <option value="8" >Agosto</option>
                   <option value="9" >Setembro</option>
                   <option value="10" >Outubro</option>
                   <option value="11" >Novembro</option>
                   <option value="12" >Dezembro</option>
                 </select>
               </div>
             </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Aniversário</th>
                    <th>Local de Trabalho</th>
                  </tr>
                  </thead>


                  <tbody>



                  <tr *ngFor="let aniversariante of aniversariantesDoDia">

                    <td>{{aniversariante?.name}}</td>
                    <td>{{aniversariante?.birthday}}</td>
                    <td *ngIf="(aniversariante?.seguradora != '') && (aniversariante.seguradora)">{{aniversariante?.seguradora}}</td>
                    <td *ngIf="(aniversariante?.corretora != '') && (aniversariante.corretora)">{{aniversariante?.corretora}}</td>

                  </tr>
                  </tbody>





                  <tbody>



                  <tr *ngFor="let aniversariante of aniversariantesDoMes">

                    <td>{{aniversariante?.name}}</td>
                    <td>{{aniversariante?.birthday}}</td>
                    <td *ngIf="(aniversariante?.seguradora != '') && (aniversariante.seguradora)">{{aniversariante?.seguradora}}</td>
                    <td *ngIf="(aniversariante?.corretora != '') && (aniversariante.corretora)">{{aniversariante?.corretora}}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>



        <div class="col-sm-7">
          <div  class="card" style="padding: 1rem; max-height: 500px; overflow: scroll">
            <div class="row">
              <div class="col-sm-12">
                <h4>Produção Seguradoras</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Produção Acumulada</th>
                    <th>Média</th>
                    <th>Projeção</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let seguradora of producaoSeguradoras">

                    <td>{{seguradora.name}}</td>
                    <td>R${{seguradora.total}}</td>
                    <td>R${{seguradora.media}}</td>
                    <td>R${{seguradora.projection}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
