<div class="apex-content content container-fluid" id="parentdiv" #parentdiv>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="row" style="margin-left: 1rem">
        <button (click)="navigateEdit()" class="btn" style="background-color: white; border: 1px solid #1a2a6c; margin-top: 1rem; margin-left: 2rem; color: #1a2a6c; font-size: 1.1rem"><i style="color: #1a2a6c; margin-right: 8px" class="ft-edit"></i>Editar</button>
        <button (click)="downloadPDFCompleto()" class="btn" style="background-color: white; border: 1px solid #1a2a6c; margin-top: 1rem; margin-left: 2rem; color: #1a2a6c; font-size: 1.1rem"><i style="color: #1a2a6c; margin-right: 8px" class="ft-download"></i>PDF Download</button>
        <button (click)="downloadCSV()" class="btn" style="background-color: white; border: 1px solid #1a2a6c; margin-top: 1rem; margin-left: 2rem; color: #1a2a6c; font-size: 1.1rem"><i style="color: #1a2a6c; margin-right: 8px" class="ft-download"></i>CSV Download</button>
        <button (click)="navigateCorretora()" class="btn" style="background-color: white; border: 1px solid #1a2a6c; margin-top: 1rem; margin-left: 2rem; color: #1a2a6c; font-size: 1.1rem"><i style="color: #1a2a6c; margin-right: 8px" class="ft-chevrons-left"></i>Voltar</button>
      </div>
    </div>
    <div class="content-body">
      <div style="margin-left: 1rem" class="col-12">
        <div class="card" style="padding-bottom: 2rem">
          <div class="card-header pb-2">
            <h4 style="margin-top: 1rem" class="form-section"><i class="ft-info"></i> Informações da Corretora </h4>
            <div class="row"><h4 class="form-section"></h4></div>
            <p class="mb-0">
            </p>
          </div>
          <div class="card-content">
            <div class="px-3">
              <form class="form">
                <div class="form-body">
                  <h4 class="form-section"></h4>

                  <div class="row">
                    <div style="margin-left: 1rem" class="col-md-4">
                      <label for="userinput1">Nome da Corretora</label>
                      <p type="text" id="userinput1" class=" " >
                        {{corretora.name}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-4">
                      <label for="userinput2">CNPJ</label>
                      <p type="text" id="userinput2" class=" " >
                        {{corretora.cnpj}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-3">
                      <label for="insEstadual">Inscrição Estadual</label>
                      <p type="text" id="insEstadual" class=" " >
                        {{corretora.InscricaoEstadual}}
                      </p>
                    </div>
                  </div>


                  <div class="row">
                    <div style="margin-left: 1rem" class="col-md-6">
                      <label for="userinput1">Email</label>
                      <p type="text" id="userinput3" class=" " >
                        {{corretora.email}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-5">
                      <label for="userinput2">Telefone</label>
                      <p type="text" id="userinput4" class=" " >
                        {{corretora.telephone}}
                      </p>
                    </div>
                  </div>

                  <h4 class="form-section"><i class="ft-home"></i> Endereço </h4>

                  <div class="row">
                    <div style="margin-left: 1rem" class="col-md-6">
                      <label for="userinput9">UF</label>
                      <p type="text" id="userinput9">
                        {{corretora.address.estate}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-5">
                      <label for="userinput10">Cidade</label>
                      <p type="text" id="userinput10" class=" ">
                        {{corretora.address.city}}
                      </p>
                    </div>
                  </div>

                  <div class="row">
                    <div style="margin-left: 1rem" class="col-md-4">
                      <label for="userinput5">Rua</label>
                      <p class=" " type="text" id="userinput5">
                        {{corretora.address.street}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-4">
                      <label for="userinput5">Cep</label>
                      <p class=" " type="text" id="userinput5">
                        {{corretora.address.cep}}
                      </p>
                    </div>
                  </div>

                  <div class="row">
                    <div style="margin-left: 1rem" class="col-md-3">
                      <label for="userinput8">Bairro</label>
                      <p type="text" id="userinput8" class=" ">
                        {{corretora.address.neighborhood}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-2">
                      <label for="userinput6">Número</label>
                      <p type="email" id="userinput6" class=" ">
                        {{corretora.address.number}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-5">
                      <div class="col">
                        <label for="userinput7">Complemento</label>
                        <p type="text" id="userinput7" class=" ">
                          {{corretora.address.complement}}
                        </p>
                      </div>
                    </div>
                  </div>

                  <h4 class="form-section"><i class="ft-users"></i> Colaboradores </h4>
                  <div class="row">
                    <div style="margin-left: 1rem" class="col-md-2">
                      <label for="gerenteNome">Nome do Responsável</label>
                      <p type="text" id="gerenteNome" class=" " >
                        {{corretora.manager.name}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-2">
                      <label for="gerenteTelefone">Telefone do Responsável</label>
                      <p type="text" id="gerenteTelefone" class=" " >
                        {{corretora.manager.telephone}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-2">
                      <label for="gerenteEmail">Email do Responsável</label>
                      <p type="text" id="gerenteEmail" class=" " >
                        {{corretora.manager.email}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-2">
                      <label for="gerenteEmail">Cargo</label>
                      <p type="text" id="gerenteJob" class=" " >
                        {{corretora.manager.job}}
                      </p>
                    </div>
                    <div style="margin-left: 1rem" class="col-md-2">
                      <label for="gerenteEmail">Data de Nascimento</label>
                      <p type="text" id="gertenteBirthDay" class=" " >
                        {{FormataStringData(corretora.manager.birthday)}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <section id="simple-table">
                      <div class="row text-left">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <table class="table">
                                  <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Cargo</th>
                                    <th>Aniversario</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let colaboradores of corretora.colaboradores; let i = index">
                                    <th>{{i+1}}</th>
                                    <td>{{colaboradores.name}}</td>
                                    <td>{{colaboradores.email}}</td>
                                    <td>{{colaboradores.telephone}}</td>
                                    <td>{{colaboradores.job}}</td>
                                    <td>{{colaboradores.birthday}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>




                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="nickname">Apelidos</label>
                    </div>
                  </div>
                </div>


                <div class="row" *ngIf="corretora.nicknames.length > 0">
                  <div class="col">
                    <section id="apelidos-table">
                      <div class="row text-left">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <table class="table">
                                  <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Apelido</th>

                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let apelido of corretora.nicknames; let i = index">
                                    <th>{{i+1}}</th>
                                    <td>{{apelido}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>





                <div class="row">
                  <div style="margin-left: 1rem" class="col-md-6">
                    <label for="userinput1">Seguradoras</label>
                  </div>
                </div>


                <div class="row" *ngIf="(seguradorasTable.length > 0)">
                  <div class="col">
                    <section id="simple-table">
                      <div class="row text-left">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="card-body">
                                <table class="table table-hover">
                                  <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let seguradora of seguradorasTable; let i = index">
                                    <th>{{i+1}}</th>
                                    <td>{{seguradora.name}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>






                <h4 class="form-section"><i class="ft-cloud"></i> Arquivos na Nuvem </h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row" *ngIf=" (corretora.files.length > 0)">
                      <div class="col">
                        <section id="simple">
                          <div class="row text-left">
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-content">
                                  <div class="card-body">
                                    <table class="table">
                                      <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Download</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr *ngFor="let file of corretora.files; let i = index">
                                        <th>{{i+1}}</th>
                                        <td>{{file.nome}}</td>
                                        <td style="cursor: pointer" (click)="download(file)"><i class="icon-cloud-download text-primary text-bold-700"></i></td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
