

<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
       <div class="row" style="margin: 1rem">
         <div class="col-12">
           <button class="btn btn-header border-primary" (click)="navigateCadastroSeguradora()"><a>Incluir Seguradora</a></button>

           <button class="btn btn-header border-primary" (click)="downloadCsv()"><a>Download CSV</a></button>
         </div>
       </div>
    </div>
    <div class="content-body">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">

              </div>
              <div class="card-content">
                <div class="card-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Seguradora</th>
                      <th>Telefone Filial</th>
                      <th>Gerente Filial</th>
                      <th>Telefone Gerente</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let seguradora of seguradoras" style="cursor: pointer" (click)="viewSeguradora(seguradora._id)">
                      <td>{{seguradora.name}}</td>
                      <td>{{seguradora.telephone}}</td>
                      <td>{{seguradora.manager.name}}</td>
                      <td>{{seguradora.manager.telephone}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!--
[settings]="alertsettings" [source]="alertSource" (deleteConfirm)="onDeleteConfirm($event) "
(editConfirm)="onSaveConfirm($event)"-->
