.btn-header {
  margin-right: 2rem;
  margin-top: 1rem;
  background-color: white;
  border: solid 1px #27416F;
  transition: 0.35s;
}
.btn-header a {
  color: #27416F
}
.btn-header:hover {
  background-color: #27416F;
  border: solid 1px #27416F
}
.btn-header:hover a {
  color: white !important;
}

.btn-header:focus  {
  background-color: #27416F !important;
}

.btn-header:focus a {
  color: white !important;
}

.btn-header-cancel {
  margin-right: 2rem;
  margin-top: 1rem;
  background-color: white;
  border: solid 1px #27416F;
  transition: 0.35s;
}
.btn-header-cancel a {
  color: #27416F
}
.btn-header-cancel:hover {
  background-color: #27416F;
  border: solid 1px #27416F
}
.btn-header-cancel:hover a {
  color: white;
}


.border-primary {
  border-color: #306aa1 !important;
}

.input-group-text {
  background-color: #27416F;
  color: white;
  font-weight: bolder;
}

.border-primary {
  border: 1px solid #27416F;
}

.custom-file-label {
  border: 1px solid #27416F;
  &::after {
    background-color: #27416F;
    color: white;
    content: 'Pesquisar' !important;
  }
}


thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: 1;
}


/* Just to display it nicely: */

thead th {
  background: #27416F;
  color: #FFF;
}

tbody th {
  background: #FFF;
  border-right: 1px solid #CCC;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
}
