<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="row" style="margin: 1rem">
        <div class="col-12">
          <button class="btn btn-header border-primary" (click)="navigateCadastroCorretora()"><a>Incluir Corretora</a></button>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-content">
                <div class="card-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Corretora</th>
                      <th>Telefone</th>
                      <th>Email</th>
                      <th>Seguradoras</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let corretora of corretoras; let i = index" style="cursor: pointer" (click)="editCorretora(corretora._id)">
                      <td>{{i+1}}</td>
                      <td>{{corretora.name}}</td>
                      <td>{{corretora.telephone}}</td>
                      <td>{{corretora.email}}</td>
                      <td style="max-width: 300px">
                        <div class="col-md-12">
                          <a style="margin: 8px 2px 8px 8px" *ngFor="let seguradora of corretora.seguradoras">{{seguradora.name}},</a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
