<!--Login Page Starts-->
<form [formGroup]="login" class="login-form" (ngSubmit)="loginMethod(login.value.login,login.value.password)">
  <section id="login" >
    <div class="container-fluid" style="margin-top: -5rem">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card" style="box-shadow: 0 4px 8px #27416F">
            <div class="card-content">
              <div class="card-body login-img">
                <div class="row m-0">
                  <div style="margin-top: -3rem"
                       class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle"
                  >
                    <img
                      src="../../assets/logo.png"
                      alt=""
                      class="img-fluid mt-5"
                      width="300"
                      height="200"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                    <h4 class="card-title mb-2">Login Admin</h4>
                    <p class="card-text mb-3">
                      Bem-vindo de volta Admin
                    </p>
                    <input
                      formControlName="login"
                      type="text"
                      class="form-control mb-3"
                      placeholder="Usuário"
                    />
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control mb-3"
                      placeholder="Senha"
                    />
                    <div class="fg-actions d-flex justify-content-between float-right">
                      <div class="recover-pass">
                        <button class="btn btn-primary" style="float: right; background-color: #27416F; border: none">
                          <a class="text-decoration-none text-white" >Entrar</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Login Page Ends-->
</form>
