<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="col-sm-12">
        <div class="card" style="padding-bottom: 1rem; border-radius: 10px">
          <div class="card-header">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-4">
                  <h4>Produçao</h4>
                </div>
                <div class="col-sm-12 col-md-8">
                  <button (click)="navigateEnviarAnexo()" style="margin-top: -1px" class="btn btn-header float-right">
                    <a>Enviar Anexo</a>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <fieldset class="form-group">
                    <label for="seguradora">Selecione o tipo de relatório</label>
                    <select  class="form-control border-primary" id="relatorio">
                      <option>padrao</option>
                    </select>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <fieldset class="form-group">
                    <label for="seguradora">Selecione a Seguradora</label>
                    <select (change)="setActiveSeguradora(seguradoraSelect.value)" #seguradoraSelect class="form-control border-primary" id="seguradora">
                      <option [value]="seguradora._id" *ngFor="let seguradora of allSeguradoras">{{seguradora.name}}</option>
                    </select>
                  </fieldset>
                </div>

                <div class="col-md-2 col-sm-6" *ngIf="seguradoraDates.length > 0">
                  <fieldset class="form-group">
                    <label for="seguradora">Selecione o Ano</label>
                    <select (change)="selectYear(anoSelect.value)" #anoSelect class="form-control border-primary" id="ano">
                      <option [value]="ano" *ngFor="let ano of seguradoraDates">{{ano[0]}}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-2 col-sm-6" *ngIf="seguradoraDates.length > 0">
                  <fieldset class="form-group">
                    <label for="seguradora">Selecione o Mes</label>
                    <select (change)="selectMonth(mesSelect.value)" #mesSelect class="form-control border-primary" id="mes">
                      <option [value]="mes[0]" *ngFor="let mes of monthsArray">{{mes[0]}}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <button (click)="gerarRelatorio()" style="margin-top: 1.6rem" class="btn btn-header float-right" id="asd">
                      <a>Gerar relatorio</a>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-body" *ngIf="reportsArray.length > 0 && !isComparing">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div style="border-radius: 10px" class="card">
              <div class="card-header">
                <div style="padding: 1rem">
                  <div class="row">
                    <div class="col-sm-12">
                     <h4 style="font-weight: 400"> {{seguradoraName}} Acumulado:  <a style="color: #27416F">R${{acumulado}}</a></h4>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1rem">
                    <div class="col-4">
                      <input type="text"  (change)="filterCorretoras($event)"  class="form-control mb-3" placeholder="Filtrar corretoras" />
                    </div>
                    <div class="col-4">
                      <button (click)="compararComDiaAnterior()" style="margin-top: -1px" class="btn btn-header float-right">
                        <a>Comparar com dia anterior</a>
                      </button>
                    </div>
                    </div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">

                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Corretora</th>
                      <th *ngFor="let dates of reportsArray[0].report">{{dates.date}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let producao of reportsArray; let i = index" style="cursor: pointer">
                      <td>{{i+1}}</td>
                      <td>{{producao.corretora}}</td>
                      <td *ngFor="let reports of producao.corr_report">
                        {{reports.total}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>





    <div class="content-body" *ngIf="isComparing">
      <section id="simple-table2">
        <div class="row text-left">
          <div class="col-sm-12">
            <div style="border-radius: 10px" class="card">
              <div class="card-header">
                <div style="padding: 1rem">
                  <div class="row">
                    <div class="col-sm-12">
                     <h4 style="font-weight: 400"> {{seguradoraName}} Acumulado:  <a style="color: #27416F">R${{acumulado}}</a></h4>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1rem">
                    <div class="col-4">
                      <input type="text"  (change)="filterCorretoras($event)"  class="form-control mb-3" placeholder="Filtrar corretoras" />
                    </div>
                    <div class="col-4">
                      <button (click)="isComparing = false" style="margin-top: -1px" class="btn btn-header float-right">
                        <a>Voltar para visualização</a>
                      </button>
                    </div>
                    </div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">

                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Corretora</th>
                      <th>datas</th>
                      <th>Acumulado</th>
                      <th>Média de Emissão</th>
                      <th>Projeção</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let producao of filteredComparingCorretoras; let i = index" style="cursor: pointer" (click)="dailyProductionData(producao.lastDay.production)">
                      <td>{{i+1}}</td>
                      <td>{{producao.today.name}}</td>
                      <td>{{producao.lastDay.date}} - {{producao.today.date}}</td>
                      <td>R${{' '}}{{producao.today.total}}({{producao.today.total > producao.lastDay.total ? "+" : "-" }}{{producao.today.total - producao.lastDay.total}}) </td>
                      <td>R${{' '}}{{producao.today.media}}</td>
                      <td>R${{' '}}<a style="color: #3b9e48; font-weight: 400">{{producao.today.projection}}</a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <div class="content-body" *ngIf="(isComparing)">

      <div class="row" *ngIf="checkedCorretora" >
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
             <div class="row">
             <div class="col-sm-12">
               <div class="row">
                 <div class="col-sm-4">
                   <h4 class="card-title">Produçao dos dias anteriores</h4>
                 </div>
                 <div class="col-sm-8">
                   <i (click)="switchCheckedCorretora()" class="ft-x float-right" style="font-size: 1.3rem; font-weight: 600; color: #9e1e25; cursor: pointer"></i>
                 </div>
               </div>
             </div>
             </div>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div id="vartical-bar-chart" class="height-400">
                  <ngx-charts-bar-vertical-2d [scheme]="barChartColorScheme" [results]="chartData3" [gradient]="barChartGradient" [xAxis]="barChartShowXAxis"
                                              [yAxis]="barChartShowYAxis" [legend]="barChartShowLegend" [showXAxisLabel]="barChartShowXAxisLabel"
                                              [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel" [yAxisLabel]="barChartYAxisLabel">
                  </ngx-charts-bar-vertical-2d>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div style="border-radius: 10px" class="card">
            <div class="card-header">
              <h4 class="card-title">Comparação Acumulado</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div id="horizontal-bar-chart" class="height-400">
                  <ngx-charts-bar-horizontal-2d [scheme]="barChartColorScheme" [results]="barChartmulti" [gradient]="barChartGradient" [xAxis]="barChartShowXAxis"
                                                [yAxis]="barChartShowYAxis" [legend]="barChartShowLegend" [showXAxisLabel]="barChartShowXAxisLabel"
                                                [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel" [yAxisLabel]="barChartYAxisLabel"
                  >
                  </ngx-charts-bar-horizontal-2d>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>





  </div>
</div>
