.btn-header {
  margin-right: 2rem;
  margin-top: 1rem;
  background-color: white;
  border: solid 1px #27416F;
  transition: 0.35s;
}
.btn-header a {
  color: #27416F
}
.btn-header:hover {
  background-color: #27416F;
  border: solid 1px #27416F
}
.btn-header:hover a {
  color: white;
}

.btn-header-cancel {
  margin-right: 2rem;
  margin-top: 1rem;
  background-color: white;
  border: solid 1px #27416F;
  transition: 0.35s;
}
.btn-header-cancel a {
  color: #27416F
}
.btn-header-cancel:hover {
  background-color: #27416F;
  border: solid 1px #27416F
}
.btn-header-cancel:hover a {
  color: white;
}


.border-primary {
  border-color: #306aa1 !important;
}

.input-group-text {
  background-color: #27416F;
  color: white;
  font-weight: bolder;
}

.border-primary {
  border: 1px solid #27416F;
}

.custom-file-label {
  border: 1px solid #27416F;
  &::after {
    background-color: #27416F;
    color: white;
    content: 'Pesquisar' !important;
  }
}
