


<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="row" style="margin: 1rem">
        <div class="col-12">
          <button class="btn btn-header border-primary" (click)="navigateCadastroProduto()"><a>Incluir Produto</a></button>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-content">
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Produtos</th>
                      <th>Descrição</th>
                      <th>Seguradoras</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer" *ngFor="let produto of produtos" (click)="navigateView(produto)">
                      <td>{{produto.name}}</td>
                      <td>{{produto.description}}</td>
                      <td style="max-width: 200px">
                        <div class="col-md-12">
                          <a style="margin: 2px" *ngFor="let seguradora of produto.seguradoras">{{seguradora.name}},</a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
