


<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="row" style="margin: 1rem">
        <div class="col-12">
          <button class="btn btn-header border-primary" (click)="navigateCadastroProduto()"><a>Incluir Produto</a></button>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="filterInput">Fltro</label>
                    <input #filterInput id="filterInput" type="text" class="form-control border-primary">
                  </div>
                  <div class="col-sm-3">
                    <fieldset class="form-group">
                      <label for="filterSelect">Selecione o campo de filtro</label>
                      <select  #filterSelect class="form-control border-primary" id="filterSelect">
                        <option value="name" >Nome</option>
                        <option value="seguradoras">Seguradora</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-sm-2">
                    <button (click)="pushFilterCard(filterInput.value, filterSelect.value); filter(); filterInput.value = ''" style="margin-top: 1.8rem;" class="btn btn-header float-left border-primary"><a>Filtrar</a></button>
                  </div>
                </div>
                <div class="row flex-nowrap" style="max-width: 100%; overflow-x: scroll; overflow-y: hidden">
                  <div class="col-sm-2" style="max-width: 170px" *ngFor="let filter of filterArray">
                    <div class="card justify-content-center flex-column" style="height: 40%; background-color: #27416F; color: white" >
                      <div class="row flex-nowrap" style="padding: 0;">
                        <div class="col-sm-10">
                          <a style="margin: 8px">{{filter.value}}</a>
                        </div>
                        <div class="col-sm-2">
                          <i style="margin-top: 4px; font-weight: 600" class="ft-x float-right" (click)="removeFilterCard(filter)"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Produtos</th>
                      <th>Descrição</th>
                      <th>Seguradoras</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer" *ngFor="let produto of produtos" (click)="navigateView(produto)">
                      <td>{{produto.name}}</td>
                      <td>{{produto.description}}</td>
                      <td style="max-width: 200px">
                        <div class="col-md-12">
                          <a style="margin: 2px" *ngFor="let seguradora of produto.seguradoras">{{seguradora.name}},</a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
