
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "./assets/fonts/simple-line-icons/style.css";
@import "./assets/fonts/feather/style.css";

.border-primary {
  border-color:  #27416F!important;
}

.border-secondary {
  border-color: #D8AC5F !important;
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

body {
  background-color: #d6e5ef;
}

.card {
  border-radius: 10px;
  border: 1px solid #27416F;
  padding: 8px 1rem 8px;
}
