
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "./assets/fonts/simple-line-icons/style.css";
@import "./assets/fonts/feather/style.css";

.border-primary {
  border-color:  #27416F!important;
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

