<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="col-sm-12">
        <div class="card" style="padding-bottom: 1rem; border-radius: 10px">
          <div class="card-header">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-4">
                  <h4>Relatório por Corretora - Mensal</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-sm-12">
                  <fieldset class="form-group">
                    <label for="relatorio"> tipo de relatório</label>
                    <select (change)="selectRelatorio(selectRelatorioInput.value)" #selectRelatorioInput class="form-control border-primary" id="relatorio">
                      <option value="Padrão" >Padrão</option>
                      <option value="comparativo">comparativo</option>
                    </select>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <fieldset class="form-group">
                    <label for="corretorass"> Corretora</label>
                    <select (change)="setActiveCorretora(corretoraSelect.value)" #corretoraSelect class="form-control border-primary" id="corretorass">
                      <option [value]="corretora._id" *ngFor="let corretora of allCorretoras">{{corretora.name}}</option>
                    </select>
                  </fieldset>
                </div>

                <div class="col-md-2 col-sm-6" *ngIf="corretoraDates.length > 0">
                  <fieldset class="form-group">
                    <label for="ano1"> Ano Inicial</label>
                    <select (change)="selectYearStart(anoSelect.value)" #anoSelect class="form-control border-primary" id="ano1">
                      <option [value]="ano[0]" *ngFor="let ano of corretoraDates">{{ano[0]}}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-2 col-sm-6" *ngIf="corretoraDates.length > 0">
                  <fieldset class="form-group">
                    <label for="mes1"> Mes Inicial</label>
                    <select (change)="selectMonthStart(mesSelect.value)" #mesSelect class="form-control border-primary" id="mes1">
                      <option [value]="mes[0]" *ngFor="let mes of monthsArrayStart">{{mes[0]}}</option>
                    </select>
                  </fieldset>
                </div>

                <div class="col-md-2 col-sm-6" *ngIf="corretoraDates.length > 0">
                  <fieldset class="form-group">
                    <label for="ano2"> Ano Final</label>
                    <select (change)="selectYearEnd(anoSelect.value)" #anoSelect class="form-control border-primary" id="ano2">
                      <option [ngValue]="ano[0]" *ngFor="let ano of corretoraDates">{{ano[0]}}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-2 col-sm-6" *ngIf="corretoraDates.length > 0">
                  <fieldset class="form-group">
                    <label for="mes2"> Mes Final</label>
                    <select (change)="selectMonthEnd(mesSelect.value)" #mesSelect class="form-control border-primary" id="mes2">
                      <option [value]="mes[0]" *ngFor="let mes of monthsArrayEnd">{{mes[0]}}</option>
                    </select>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3" *ngIf="tipoRelatorio === 'Padrão'">
                  <div class="form-group">
                    <button (click)="gerarRelatorio()" style="margin-top: 1.6rem" class="btn btn-header float-left" id="asd">
                      <a>Gerar relatorio</a>
                    </button>
                  </div>
                </div>
                <div class="col-md-3" *ngIf="tipoRelatorio === 'comparativo'">
                  <div class="form-group">
                    <button (click)="gerarRelatorioComparativo()" style="margin-top: 1.6rem" class="btn btn-header float-left" id="asd">
                      <a>Gerar relatorio Comparativo</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-body" *ngIf="reportsArray.length > 0">
      <section id="simple-table">
        <div class="row text-left">
          <div class="col-sm-12">
            <div style="border-radius: 10px" class="card">
              <div class="card-header">
                <div style="padding: 1rem">
                  <div class="row">
                    <div class="col">
                      <h4 style="font-weight: 300"> Relatório Mensal - {{tipoRelatorio}} {{corretoraName}} {{selectedMonthStart}}/{{selectedYearStart}} até {{selectedMonthEnd}}/{{selectedYearEnd}} </h4>
                    </div>
                  </div>
                  <div class="row" *ngIf="tipoRelatorio === 'comparativo'">
                    <div class="col-sm-12">
                      <h4> Variação: {{variacao}}% </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-content" style="margin: 0 2.2rem">
                <div class="card-body" style="max-width: 100%; overflow: scroll; padding-left: 0; margin-left: 0">

                  <table class="table">
                    <thead>
                    <tr>
                      <th style="min-width: 300px !important;">Seguradora</th>
                      <th style="min-width: 120px !important;" *ngFor="let dates of reportsArray[0].seg_report">{{dates.date}}</th>
                      <th *ngIf="tipoRelatorio === 'comparativo'">Variação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let producao of reportsArray; let i = index" style="cursor: pointer">
                      <th style="min-width: 300px !important;">{{producao.seguradora}}</th>
                      <td style="min-width: 120px !important;" *ngFor="let reports of producao.seg_report">
                        {{reports.total}}
                      </td>
                      <td *ngIf="tipoRelatorio === 'comparativo'">{{(producao.var * 100).toFixed(2)}}%</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


  </div>
</div>
