.custom-file-label {
  border: 1px solid #27416F;
  &::after {
    background-color: #27416F;
    color: white;
    content: 'Pesquisar' !important;
  }
}

.border-primary {
  border: 1px solid #27416F;
}
