<div class="apex-content content container-fluid">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-2">
            <h4 class="card-title" id="basic-layout-colored-form-control">Cadastro de Oportunidade</h4>
            <p class="mb-0">
            </p>
          </div>
          <div class="card-content">
            <div class="px-3">
              <form class="form" [formGroup]="oportunidade" role="form" class="login-form" (ngSubmit)="onFinish()">
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-info"></i>Informções da Oportunidade</h4>
                  <div class="row">
                    <div class="col-sm-12 col-md-4 col-sm-12"></div>
                    <div class="col-sm-12 col-md-4 col-sm-12"></div>
                    <div class="col-sm-12 col-md-4 col-sm-12"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-4">
                      <fieldset class="form-group">
                        <label for="corretora">Corretora</label>
                        <select (change)="selectColaborador(selectCorretora.value)" #selectCorretora class="form-control border-primary" id="corretora" formControlName="corretora">
                          <option  [value]="corretora._id" *ngFor="let corretora of Corretoras">{{corretora.name}}</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <fieldset class="form-group">
                        <label for="solicitante">Solicitante</label>
                        <select class="form-control border-primary" id="solicitante" formControlName="solicitante">
                          <option [value]="oportunidade.value.solicitante" *ngIf="isEdit">{{oportunidade.value.solicitante}}</option>
                          <option [value]="colaborador._id" *ngFor="let colaborador of Colaboradores">{{colaborador.name}}</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <fieldset class="form-group">
                        <label for="basicSelect">Detentor?</label>
                        <select class="form-control border-primary" id="basicSelect" formControlName="detentor">
                          <option value="Sim">Sim</option>
                          <option value="Nao">Não</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="form-group">
                        <label for="proponente">Proponente</label>
                        <input type="email" id="proponente" class="form-control border-primary" formControlName="proponente">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <div class="form-group">
                        <label for="cadastroNacional">CPF/CNPJ</label>
                        <input type="text" id="cadastroNacional" class="form-control border-primary" formControlName="cadastroNacional">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <fieldset class="form-group">
                        <label for="seguradora">Seguradora</label>
                        <select formControlName="seguradora" class="form-control border-primary" id="seguradora">
                          <option [value]="seguradora._id" *ngFor="let seguradora of Seguradoras">{{seguradora.name}}</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <fieldset class="form-group">
                        <label for="produto">Produto</label>
                        <select class="form-control border-primary" id="produto" formControlName="produto">
                          <option [value]="produto._id" *ngFor="let produto of Produtos">{{produto.name}}</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="" [ngClass]="[selectElement.value == 'Renovação' ? 'col-sm-12 col-md-3' : 'col-sm-12 col-md-7']">
                      <div class="form-group">
                        <label for="descricao">Breve Descrição</label>
                        <input type="text" id="descricao" class="form-control border-primary" formControlName="descricao">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                      <fieldset class="form-group">
                        <label for="tipoNegocio">Tipo de Negócio</label>
                        <select #selectElement class="form-control border-primary" id="tipoNegocio" formControlName="tipoNegocio">
                          <option value="Novo">Novo</option>
                          <option value="Renovação">Renovação</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="col-sm-12 col-md-2" *ngIf="selectElement.value == 'Renovação'">
                      <div class="form-group">
                        <label for="congenere">Congênere</label>
                        <input type="text" id="congenere" class="form-control border-primary" formControlName="congenere">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2" *ngIf="selectElement.value == 'Renovação'">
                      <div class="form-group">
                        <label for="vigencia">Vigência</label>
                        <div class="position-relative has-icon-left">
                          <input type="date" id="vigencia" class="form-control border-primary" formControlName="vigencia">
                          <div class="form-control-position">
                            <i class="ft-message-square"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="form-group">
                        <label for="congeneres">Congênere</label>
                        <input type="text" id="congeneres" class="form-control border-primary" formControlName="congeneres">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                      <div class="form-group">
                        <label for="preco1">Preço</label>
                        <input type="email" id="preco1" class="form-control border-primary" formControlName="preco1">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <div class="form-group">
                        <label for="comissao">Comissão</label>
                        <input type="text" id="comissao" class="form-control border-primary" formControlName="comissao1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-2">
                      <button type="button" (click)="pushCongenere(oportunidade.value.congeneres, oportunidade.value.preco1, oportunidade.value.comissao1)" class="btn btn-header border-primary">
                        adicionar
                      </button>
                    </div>
                  </div>
                  <div style="margin-bottom: 1rem" class="row" *ngIf="CongenereList.length > 0">
                    <div class="col-sm-12 col-md-2">
                      <a (click)="clickVerCongenere()" *ngIf="!checkCongenere" style="cursor: pointer; color: #1a2a6c">ver lista de congeneres</a>
                      <a (click)="clickVerCongenere()" *ngIf="checkCongenere" style="cursor: pointer; color: #1a2a6c">ver menos</a>
                    </div>
                  </div>
                  <div class="row" *ngIf="(checkCongenere) && (CongenereList.length > 0)">
                    <div class="col">
                      <section id="simple-table">
                        <div class="row text-left">
                          <div class="col-sm-12">
                            <div class="card">
                              <div class="card-content">
                                <div class="card-body">
                                  <table class="table">
                                    <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Nome</th>
                                      <th>Preço</th>
                                      <th>Comissão</th>
                                      <th>Remover</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let congenere of CongenereList; let i = index">
                                      <th>{{i+1}}</th>
                                      <td>{{congenere.name}}</td>
                                      <td>{{congenere.price}}</td>
                                      <td>{{congenere.comission}}</td>
                                      <td style="cursor: pointer" (click)="removeCongenere(congenere)"><i class="icon-trash text-danger text-bold-700"></i></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-5">
                      <div class="form-group">
                        <label for="userinput8">Br infinite</label>
                        <input type="text" id="userinput8" class="form-control border-primary" formControlName="brInfinite">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                      <div class="form-group">
                        <label for="userinput6">Preço</label>
                        <input type="email" id="userinput6" class="form-control border-primary" formControlName="preco2">
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <div class="form-group">
                        <label for="comissao2">Comissão</label>
                        <input type="text" id="comissao2" class="form-control border-primary" formControlName="comissao2">
                      </div>
                    </div>
                  </div>
                  <h4 class="form-section"><i class="ft-info"></i>STATUS</h4>
                  <div class="row">
                    <div class="col-sm-12 col-md-3">
                      <fieldset class="form-group">
                        <label for="status">Status</label>
                        <select formControlName="status" class="form-control border-primary" id="status">
                          <option value="Em análise">Em análise</option>
                          <option value="Fechado">Fechado</option>
                          <option value="Perdido">Perdido</option>
                        </select>
                      </fieldset>
                    </div>
                   <div class="col-sm-12 col-md-9">
                     <div class="form-group">
                       <label for="observacao">Observaçao do status</label>
                       <input type="text" id="observacao" class="form-control border-primary" formControlName="observacao">
                     </div>
                   </div>
                 </div>
                </div>
                <div class="form-actions right">
                  <button (click)="navigatePipeline()" type="button" class="btn btn-raised  mr-1 btn-header-cancel">
                    <a>Voltar</a>
                  </button>
                  <button  type="submit" class="btn btn-raised  btn-header">
                    <a>Salvar</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
